.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  align-self: end;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    max-width: 330px;
  }
}

@media screen and (max-width: 630px) {
  .place__title {
    font-size: 32px;
    margin: 0 16px;
  }
}
