.page {
  max-width: 100vw;
  margin: 0 auto;

  background-color: #2a2c2f;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;

  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /* Рендеринг */
  text-rendering: optimizeLegibility;
}
