.page {
  max-width: 100vw;
  margin: 0 auto;

  background-color: #2a2c2f;

  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;

  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /* Рендеринг */
  text-rendering: optimizeLegibility;
}


/* Потом удалить */
@media screen and (max-width: 1024px) {
  .page {
    background-color: #2f75df;
  }
}

@media screen and (max-width: 768px) {
  .page {
    background-color: #c0b957;
  }
}

@media screen and (max-width: 320px) {
  .page {
    background-color: #db2911;
  }
}
