.photo-grid {
  width: calc(100vw - 96px);
  max-width: 1184px;
  margin: 92px auto 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100vw - 48px);
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 330px) {
  .photo-grid {
    width: calc(100vw - 32px);
    max-width: 288px;
    margin-top: 64px;
    gap: 12px;
  }
}
