.places {
  width: calc(100vw - 96px);
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
    width: calc(100vw - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 630px) {
  .places {
    margin-top: 64px;
    width: 100vw;
  }
}
