.places {
  max-width: 984px;
  margin: 92px auto 0;
}

.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(4, auto);

  column-gap: 40px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;

  margin: 0 0 48px;
}

.place__website {
  align-self: end;
  margin: 0 0 48px;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;

  margin: 0;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
}

.place__image {
  width: 460px;
  height: 460px;
  object-fit: cover;
  grid-row: 2/-1;
  grid-column: 1;
}

.place__paragraph {
  margin: 0 0 26px;
}

.none {
  display: none;
}
