.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  margin: 56px 0 0;
  max-width: 720px;

  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.lead__subtitle {
  margin: 32px 0 0;
  max-width: 640px;

  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
}

.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
}
