.content {
  
}


.into {
  margin: 0;
  max-width: 690px;
  align-self: flex-start;
}

.into__title {
  margin: 92px 0 0;

  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.into__text {
  margin: 40px 0 0;

  font-size: 16px;
  line-height: 1.63;
}

.into__list {
  margin: 33px 0 92px;
  padding: 0;

  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
}

.into__line {
}

.none {
  display: none;
}

/* @media screen and (max-width: 1024px) {
  .header {
  }
}

@media screen and (max-width: 768px) {
  .header {
  }
}

@media screen and (max-width: 320px) {
  .header {
  }
} */
