.place__image {
  width: 460px;
  object-fit: contain;
  grid-row: 2/-1;
  grid-column: 1;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: calc(100vw / 1024 * 440);
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: calc(100vw / 768 * 340);
  }
}

@media screen and (max-width: 520px) {
  .place__image {
    width: 100vw;
    align-self: center;
  }
}
