.place__image {
  grid-area: image;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 896px) {
  .place__image {
    max-width: 390px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 630px) {
  .place__image {
    max-width: 630px;
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
  }
}
