.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100vw - 96px);
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: calc(100vw - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: calc(100vw - 32px);
    max-width: 288px;
  }
}
