.cover__subtitle {
  max-width: 360px;
  line-height: 1.22;
  text-align: center;
  margin: 32px 0 0;
  color: #fff;
  position: relative;  
}

@media screen and (max-width: 520px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    margin: 16px 0 0;
  }
}
