.header {
  width: calc(100vw - 96px);
  max-width: 1184px;
  min-height: 52px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100vw - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100vw - 32px);
    max-width: 288px;
    min-height: 42px;
    padding-top: 16px;
  }
}
