.lead__title {
  margin: 56px 0 0;
  max-width: 720px;

  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: calc(100vw - 48px);
    max-width: 720px;
    font-size: calc(100vw / 768 * 96);
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: calc(100vw / 320 * 40);
  }
}
