.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 18px;
}

@media screen and (max-width: 740px) {
  .footer__links {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}