.place__paragraph {
  grid-area: paragraph;
  list-style-type: none;
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 630px) {
  .place__paragraph {
    margin: 0 16px;
  }
}
