.into {
  width: calc(100vw - 96px);
  max-width: 984px;
  margin: 0 auto;
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .into {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .into {
    width: calc(100vw - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .into {
    width: calc(100vw - 32px);
    max-width: 288px;
  }
}
