.lead__image {
  width: 100%;
  max-width: 984px;
  max-height: 615px;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 100%;
    max-width: 928px; 
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
  }
}
