.lead__subtitle {
  margin: 32px 0 64px;
  max-width: 640px;

  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
