.lead__subtitle {
  margin: 32px 0 64px;
  max-width: 640px;

  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: calc(100vw - 48px);
    max-width: 720px;
    font-size: max(calc(100vw / 768 * 30), 16px);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: calc(100vw / 320 * 16);
  }
}
