@import url(../blocks/page/page.css);
@import url(../blocks/fonts/fonts.css);

/* блок header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* блок content */
@import url(../blocks/content/content.css);

/* блок lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* блок intro */
@import url(../blocks/into/into.css);
@import url(../blocks/into/__title/into__title.css);
@import url(../blocks/into/__text/into__text.css);
@import url(../blocks/into/__list/into__list.css);

/* блок photo-grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

/* блок places */
@import url(../blocks/places/places.css);

/* блок place */
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);