@import url(../blocks/page/page.css);
@import url(../blocks/fonts/fonts.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);


@import url(../blocks/content/content.css);

/* lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* intro */
@import url(../blocks/into/into.css);
@import url(../blocks/into/__title/into__title.css);
@import url(../blocks/into/__text/into__text.css);
@import url(../blocks/into/__list/into__list.css);

/* photo-grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);