.cover__background {
  width: 100vw;
  max-width: 1184px;
  margin: 0 auto;
  height: 100vh;
  max-height: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../../../images/cover/cover__background.jpg);
  background-size: cover;
  background-position: center;

  text-decoration: none;
  position: relative;
}

.cover__background:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.cover__background:hover::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-height: 200px;
  }
}
