.lead__caption {
  width: calc(100vw - 96px);
  max-width: 984px;
  margin: 8px auto 0;
  
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
}


@media screen and (max-width: 768px) {
  .lead__caption {
    width: calc(100vw - 48px);
    margin: 8px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    width: calc(100vw - 32px);
  }
}