.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fff;
  margin: 0;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .cover__title {
    font-size: 40px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
  }
}
