.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(4, auto);

  column-gap: 40px;
  row-gap: 26px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 75px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 520px) {
  .place {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
