.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "title website"
    "image paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 630px) {
  .place {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    row-gap: 32px;
  }
}
