.footer {
  width: calc(100vw - 96px);
  max-width: 1184px;
  margin: 92px auto 0;
  padding-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
      width: calc(100vw - 48px);
      max-width: 720px;
    }
  }

  @media screen and (max-width: 740px) {
    .footer {
      align-items:flex-end
    }
  }

  @media screen and (max-width: 400px) {
    .footer {
      width: calc(100vw - 32px);
      max-width: 288px;
      margin-top: 64px;

      flex-direction: column;
      align-items:flex-start;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer {
    }
  }
